<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chat.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.chat.android.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.chat.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".Nav_per_Activity" />
        <activity android:name=".Nav_dress_Activity" />
        <activity
            android:name=".Nav_feedback_Activity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Nav_teach_Activity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".per_modify_Activity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".BackImageActivity" />
        <activity android:name=".Nav_tools_Activity"></activity>
    </application>

</manifest>